.slider__wrapper {
  position: relative;
}

.swiper-pagination {
  position: relative !important;
}

.swiper {
  border: solid 3px #000 !important;
}

.swiper {
    border: solid 3px #000 !important;
}

.swiper-pagination {
    position: relative !important;
    margin-top: 20px !important;
}

.page1{
  background-color: rgb(207, 25, 25);
  height: 700px;
  width: 900px;
}

.page2{
  background-color: #000;
  height: 700px;
  width: 900px;
}

.page3{
  background-color: #000;
  height: 700px;
  width: 900px;
}

.page4{
  background-color: #000;
  height: 700px;
  width: 900px;
}