/* Card.module.css */


.card {
    border: 1px solid #4e2018;
    background-color: black;
    padding: 56px;
    margin-bottom: 16px;
    border-radius: 16px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,.2);
    border-radius: 4.5% / 3.5%;
    color: black;
    opacity: 0.8;
  }

.img {
  border-radius: 6px;
  margin: auto;
}

.description {
  font-style: italic;
  color: white;
}

.title {
  font-style: italic;
  color: white;
}