.Login{
    height: 300px;
    width: 300px;
    background-color: #E48071;
    border-radius: 1.2rem;
    margin: auto;
}

.LoginForm{
    padding: 30px 20px 20px 20px;
    text-align: center;
    margin: 0px auto;
}

.inputname{
    height:50px;
    width:250px;
    background-color: aliceblue;
    color: black;
    font-size: medium;
    border-radius: 1.5rem;
}

.inputage{
    height:50px;
    width:100px;
    background-color: #8b3f34;
    border-radius: 10rem;
    color: white;
    font-size: medium;
}

.inputage:hover,
.inputage:focus,
.inputage:active{
    color: #E48071;
}