/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10rem;
  min-height: 100vh;
  background-color: #ffffff;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
} */