.title {
    font-size: large;
    font-weight: 100;
    border: solid black;
    padding: 5px;
}

.content_container {
    max-width: 400px;
    max-height: 800px;
    font-size: large;
    font-weight: 100;
}

.id_list {
    border: solid black;
    padding: 5px;
}