@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

.body{
    font-family: 'Zen Maru Gothic', sans-serif;
}
.title {
    font-size: large;
    font-weight: 100;
    border: solid black;
    padding: 5px;
}

/* .content_container {
    display:block;
    text-align: left;
    width: 400px;
    height: 800px;
    font-size: large;
    font-weight: 100;
} */

.id_list {
    border: solid black;
    padding: 5px;
    border-radius: 1.2rem;
    background-color: aliceblue;
    box-shadow: 1.2rem;
}

.id_list:hover {
    background-color: cadetblue;
}

.bloglist{
    list-style: none;
    padding: 10px;
    border: solid black;
    margin: 1.2rem;
    border-radius: 6px;
    height: 70px;
}

.bloglist:hover{
    background-color: rgb(200,200,0,0.4);
    box-shadow: 1.2rem;
}
/* 
.contents{
    background-color: aquamarine;
    width: 800px;
} */