.aboutcontext{
    height: 300px;
    width:800px;
    /* background-color: rgb(25, 199, 238); */
    border-radius: 1.5rem;
    padding: 20px;
    padding-bottom: 20rem;
    border: solid black 0.1rem;
}

.button{
    background-color: rgb(212, 135, 34);
}