.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    width: var(--max-width);
    max-width: 100%;
  }

.aboutcontext{
    height: 300px;
    width:1100px;
    /* background-color: rgb(25, 199, 238); */
    border-radius: 1.5rem;
    padding: 20px;
    padding-bottom: 20rem;
    border: solid black 0.1rem;
}

.button{
    background-color: rgb(212, 135, 34);
}

/*Mobile*/
@media (max-width: 700px) {

}