.welcomeScreen {
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s ease-out;
  }
  
  .slideUp {
    transform: translateY(-100vh);
  }
  